body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image:url('mario-background.png');
  font-family: 'Comic Sans MS';

}
body, a:link, a:visited, a:active{
  color: red;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:36px;
  background-color:#00E600; 
}
.title{
  background: black;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.square{
  border:20px solid blue;
  position: absolute;
  border-radius: 0px;
}

.shifty{
  border:10px solid green;
  border-radius: 0px;
  position: absolute;
}

.yoshi{
  position:absolute;
  bottom:0px;
  left:0px;
}