body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image:url('mario-background.png');
  font-family: 'Comic Sans MS';

}
body, a:link, a:visited, a:active{
  color: red;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:36px;
  background-color:#00E600; 
}
.title{
  background: black;
}
.dancer{
  position:absolute;
}

.square{
  border:20px solid blue;
  position: absolute;
  border-radius: 0px;
}

.shifty{
  border:10px solid green;
  border-radius: 0px;
  position: absolute;
}

.yoshi{
  position:absolute;
  bottom:0px;
  left:0px;
}

.star{
  position:absolute;
  top: 50px;
  left: 50px;
-webkit-animation: cssAnimation 3s 20 ease;
-moz-animation: cssAnimation 2s 6 ease;
-o-animation: cssAnimation 1s 6 ease;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}

/*
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(30deg); }
to { -moz-transform: rotate(-30deg); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(30deg); }
to { -o-transform: rotate(-30deg); }
}*/
